$blue: rgb(111, 155, 180);

form {
  text-align: center;
  margin-top: 20px;
}

button {
  background: darken($blue, 33);
  border: none;
  color: white;
  padding: 10px;
}
button:hover {
  color: black;
  transition: 0.5s;
}

input {
  height: 33px;
  border: 0.5px solid darken($blue, 33);
}

.container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
